@model E_Recruitment.Models.RefereesModel

@{
    ViewBag.Title = "Referees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-body">
    <div class="card">
        <div class="card-header text-center" data-background-color="darkgreen">
            <h5 class="title"><i><strong>Candidate Registration</strong></i></h5>
        </div>
        <center><h3>Welcome to the E-Recruitment Portal Internship Application Form</h3></center>
        <div class="row form-group">
            <div class="col-xs-12">
                <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                    <li class="disabled">
                        <a href="/Internship/Index">
                            <h4 class="list-group-item-heading">1</h4>
                            <p class="list-group-item-text">Personal Details</p>
                        </a>
                    </li>
                    <li class="disabled">
                        <a href="/Internship/AcademicQualifications">
                            <h4 class="list-group-item-heading">2</h4>
                            <p class="list-group-item-text">Education</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/Internship/Referees">
                            <h4 class="list-group-item-heading">3</h4>
                            <p class="list-group-item-text">Referees</p>
                        </a>
                    </li>
                    <li class="disabled">
                        <a href="/Internship/CandidateAttachDocuments">
                            <h4 class="list-group-item-heading">4</h4>
                            <p class="list-group-item-text">Attachments</p>
                        </a>
                    </li>
                    <li class="disabled">
                        <a href="/Internship/DeclarationForms">
                            <h4 class="list-group-item-heading">5</h4>
                            <p class="list-group-item-text">Declaration</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        @using (Html.BeginForm("Referees", "Internship", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Referees (people who have interacted with you professionally)<div class="pull-right"><i class="fa fa-angle-left"></i>Step 6 of 8<i class="fa fa-angle-right"></i></div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        @if (TempData["error"] != null)
                        {

                            <div class="alert alert-danger" id="alert-danger" role="alert">
                                @TempData["error"]
                            </div>

                        }
                        else
                        {
                            <div class="alert alert-success" id="alert-success" role="alert">
                                @TempData["success"]
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Refereetype, htmlAttributes: new { @class = "control-label col-md-8" })
                                <div class="form-group">
                                    @Html.DropDownListFor(model => model.Refereetype, ViewBag.Referee as SelectList, new { @class = "form-control select2", @required = "required", id = "business_type" })
                                    @Html.ValidationMessageFor(model => model.Refereetype, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-8" })
                                <div class="form-group">
                                    @Html.DropDownListFor(model => model.Title, ViewBag.Titles as SelectList, new { @class = "form-control select2", @required = "required", id = "business_type" })
                                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SurName, htmlAttributes: new { @class = "control-label col-md-8" })
                                <div class="form-group">
                                    @Html.EditorFor(model => model.SurName, new { htmlAttributes = new { @class = "form-control floating" } })
                                    @Html.ValidationMessageFor(model => model.SurName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-8" })
                                <div class="form-group">
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control floating" } })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.OtherNames, htmlAttributes: new { @class = "control-label col-md-8" })
                                <div class="form-group">
                                    @Html.EditorFor(model => model.OtherNames, new { htmlAttributes = new { @class = "form-control floating" } })
                                    @Html.ValidationMessageFor(model => model.OtherNames, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Designations, htmlAttributes: new { @class = "control-label col-md-8" })
                                <div class="form-group">
                                    @Html.EditorFor(model => model.Designations, new { htmlAttributes = new { @class = "form-control floating" } })
                                    @Html.ValidationMessageFor(model => model.Designations, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-8" })
                                <div class="form-group">
                                    @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control floating" } })
                                    @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-8" })
                                <div class="form-group">
                                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control floating" } })
                                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Relationship, htmlAttributes: new { @class = "control-label col-md-8" })
                                <div class="form-group">
                                    @Html.EditorFor(model => model.Relationship, new { htmlAttributes = new { @class = "form-control floating" } })
                                    @Html.ValidationMessageFor(model => model.Relationship, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-8" })
                                <div class="form-group">
                                    @Html.DropDownListFor(model => model.Country, ViewBag.Countries as SelectList, "--Select Country--", new { @class = "form-control select2", @required = "required", id = "business_type" })
                                    @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.institution, htmlAttributes: new { @class = "control-label col-md-8" })
                                <div class="form-group">
                                    @Html.EditorFor(model => model.institution, new { htmlAttributes = new { @class = "form-control floating" } })
                                    @Html.ValidationMessageFor(model => model.institution, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.knownyears, htmlAttributes: new { @class = "control-label col-md-8" })
                                <div class="form-group">
                                    @Html.EditorFor(model => model.knownyears, new { htmlAttributes = new { @class = "form-control floating" } })
                                    @Html.ValidationMessageFor(model => model.knownyears, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <center>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <input type="submit" value="Save Referees Details" class="btn btn-primary btn-lg ladda-button" />
                                </div>
                            </div>
                        </center>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <div class="panel-body">
                                    <table id="tbl_AllApplicantReferees" width="100%" cellspacing="1">
                                        <thead>
                                            <tr>
                                                <th>Full Name</th>
                                                <th>Email Address</th>
                                                <th>Organization</th>
                                                <th>Relationship</th>
                                                <th>Country</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            @Html.ActionLink("Previous", "EmploymentExperience", "Internship", null, new { @class = "btn btn-warning ladda-button fa fa-arrow-left" })
                        </div>
                        <div class="pull-right">
                            @Html.ActionLink("Next", "CandidateAttachDocuments", "Internship", null, new { @class = "btn btn-success ladda-button fa fa-arrow-right" })
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>
    <div>
        @Html.ActionLink("Back to Dashbaord", "Dashbaord", "Home", null, new { @class = "btn btn-warning ladda-button fa fa-arrow-left" })
    </div>

</div>
<script type="text/javascript" src="~/assets/js/jquery-3.2.1.min.js"></script>
<script>
        $(document).ready(function () {
            var oTable = $('#tbl_AllApplicantReferees').DataTable({
                "ajax": {
                    "url": '/Internship/GetCandidateRefereeDetails',
                    "type": "GET",
                    "datatype" : "json"
                },
                "columns": [
                    { "data": "FirstName", "autoWidth": true },
                    { "data": "EmailAddress", "autoWidth": true },
                    { "data": "institution", "autoWidth": true },
                    { "data": "Relationship", "autoWidth": true },
                    { "data": "Country", "autoWidth": true },
                    {
                        "data": "EntryNumber", "width": "50px", "render": function (data) {
                            return ' <a class="btn btn-info" class="popup" href="/Internship/EditReferees/' + data + '"><i class="fa fa-pencil m-r-10">Edit</a>';
                        }
                    },
                    {
                        "data": "EntryNumber", "width": "50px", "render": function (data) {
                            return '<a class="btn btn-danger" class="popup" href="/Internship/DeleteReferees/' + data + '"><i class="fa fa-trash m-r-10">Delete</a>';
                        }
                    }
                ]
            })
            $('.tablecontainer').on('click', 'a.popup', function (e) {
                e.preventDefault();
                OpenPopup($(this).attr('href'));
            })
            function OpenPopup(pageUrl) {
                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function () {
                    $('#popupForm', $pageContent).removeData('validator');
                    $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');

                });

                $dialog = $('<div class="popupWindow" style="overflow:auto"></div>')
                          .html($pageContent)
                          .dialog({
                              draggable : false,
                              autoOpen : false,
                              resizable : false,
                              model : true,
                              title:'Popup Dialog',
                              height : 550,
                              width : 600,
                              close: function () {
                                  $dialog.dialog('destroy').remove();
                              }
                          })

                $('.popupWindow').on('submit', '#popupForm', function (e) {
                    var url = $('#popupForm')[0].action;
                    $.ajax({
                        type : "POST",
                        url : url,
                        data: $('#popupForm').serialize(),
                        success: function (data) {
                            if (data.status) {
                                $dialog.dialog('close');
                                oTable.ajax.reload();
                            }
                        }
                    })

                    e.preventDefault();
                })
                $dialog.dialog('open');
            }
        })
</script>


